@import "tailwindcss";

:root {
  --card: #ffffff;
  --ring: #0000bb;
  --input: #d4d4d4;
  --muted: #f5f5f5;
  --accent: #FFCC91;
  --border: #e5e5e5;
  --radius: 0.5rem;
  --shadow: 0 2px 6px -2px rgba(0,0,0,.15);
  --chart-1: #DCC2F9;
  --chart-2: #398282;
  --chart-3: #96C0D6;
  --chart-4: #FF6B56;
  --chart-5: #611848;
  --popover: #f5f5f5;
  --primary: #0000bb;
  --spacing: 0.25rem;
  --font-mono: monospace;
  --font-sans: "Aeonik Pro", sans-serif;
  --secondary: #ededed;
  --shadow-lg: 0 0 8px rgba(0,0,0,.08);
  --shadow-md: 0 2px 10px -2px rgba(0,0,0,.2);
  --shadow-sm: 0 2px 4px -2px rgba(0,0,0,.18);
  --shadow-xl: 0 0 12px rgba(0,0,0,.1);
  --background: #f5f5f5;
  --font-serif: serif;
  --foreground: #000000;
  --shadow-2xl: 0 0 24px rgba(0,0,0,.15);
  --destructive: #FF6B56;
  --card-foreground: #000000;
  --muted-foreground: #737373;
  --accent-foreground: #000000;
  --popover-foreground: #000000;
  --primary-foreground: #ffffff;
  --secondary-foreground: #000000;
  --destructive-foreground: #000000;
}

.dark {
  --card: #1a1a1a;
  --ring: #0000bb;
  --input: #525252;
  --muted: #2b2b2b;
  --accent: #FFCC91;
  --border: #404040;
  --radius: 0.5rem;
  --shadow: 0 2px 6px -2px rgba(0,0,0,.75);
  --chart-1: #DCC2F9;
  --chart-2: #398282;
  --chart-3: #96C0D6;
  --chart-4: #FF6B56;
  --chart-5: #611848;
  --popover: #1a1a1a;
  --primary: #0000bb;
  --font-mono: monospace;
  --font-sans: "Aeonik Pro", sans-serif;
  --secondary: #2b2b2b;
  --shadow-lg: 0 0 8px rgba(0,0,0,.7);
  --shadow-md: 0 2px 10px -2px rgba(0,0,0,.8);
  --shadow-sm: 0 2px 4px -2px rgba(0,0,0,.8);
  --shadow-xl: 0 0 12px rgba(0,0,0,.7);
  --background: #000000;
  --font-serif: serif;
  --foreground: #f5f5f5;
  --shadow-2xl: 0 0 24px rgba(0,0,0,.75);
  --destructive: #FF6B56;
  --card-foreground: #f5f5f5;
  --muted-foreground: #737373;
  --accent-foreground: #000000;
  --popover-foreground: #f5f5f5;
  --primary-foreground: #ffffff;
  --secondary-foreground: #f5f5f5;
  --destructive-foreground: #000000;
}

@theme inline {
  --color-card: var(--card);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-radius: var(--radius);
  --color-shadow: var(--shadow);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-popover: var(--popover);
  --color-primary: var(--primary);
  --color-spacing: var(--spacing);
  --color-font-mono: var(--font-mono);
  --color-font-sans: var(--font-sans);
  --color-secondary: var(--secondary);
  --color-shadow-lg: var(--shadow-lg);
  --color-shadow-md: var(--shadow-md);
  --color-shadow-sm: var(--shadow-sm);
  --color-shadow-xl: var(--shadow-xl);
  --color-background: var(--background);
  --color-font-serif: var(--font-serif);
  --color-foreground: var(--foreground);
  --color-shadow-2xl: var(--shadow-2xl);
  --color-destructive: var(--destructive);
  --color-card-foreground: var(--card-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive-foreground: var(--destructive-foreground);
}
