-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "CityStatus" AS ENUM ('CONSOLIDATED', 'EXPANSION', 'NOT_SERVED', 'PLANNING');

-- CreateEnum
CREATE TYPE "Mesorregion" AS ENUM ('NORTE_MATOGROSSENSE', 'NORDESTE_MATOGROSSENSE', 'CENTRO_SUL_MATOGROSSENSE', 'SUDESTE_MATOGROSSENSE', 'SUDOESTE_MATOGROSSENSE');

-- CreateTable
CREATE TABLE "City" (
    "id" INTEGER NOT NULL,
    "name" TEXT NOT NULL,
    "population" INTEGER NOT NULL,
    "population15to44" INTEGER NOT NULL,
    "averageIncome" DOUBLE PRECISION NOT NULL,
    "urbanizationIndex" DOUBLE PRECISION NOT NULL,
    "status" "CityStatus" NOT NULL,
    "mesorregion" "Mesorregion" NOT NULL,
    "gentilic" TEXT NOT NULL,
    "anniversary" TEXT NOT NULL,
    "mayor" TEXT NOT NULL,
    "monthlyRevenue" DOUBLE PRECISION,
    "implementationStartDate" TIMESTAMP(3),
    "averageFormalSalary" DOUBLE PRECISION NOT NULL,
    "formalJobs" INTEGER NOT NULL,
    "urbanizedAreaKm2" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "City_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Planning" (
    "id" TEXT NOT NULL,
    "cityId" INTEGER NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'active',
    "priority" TEXT NOT NULL DEFAULT 'medium',
    "tags" TEXT,
    "estimatedBudget" DOUBLE PRECISION,
    "actualBudget" DOUBLE PRECISION,
    "progressPercentage" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Planning_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Task" (
    "id" TEXT NOT NULL,
    "planningId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "completed" BOOLEAN NOT NULL DEFAULT false,
    "dueDate" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Task_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Comparison" (
    "id" TEXT NOT NULL,
    "cityId" INTEGER NOT NULL,
    "comparedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "metrics" JSONB NOT NULL,

    CONSTRAINT "Comparison_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AIQuery" (
    "id" TEXT NOT NULL,
    "prompt" TEXT NOT NULL,
    "response" TEXT NOT NULL,
    "context" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AIQuery_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IBGECache" (
    "id" TEXT NOT NULL,
    "cityId" INTEGER NOT NULL,
    "data" JSONB NOT NULL,
    "lastFetched" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "IBGECache_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "City_status_idx" ON "City"("status");

-- CreateIndex
CREATE INDEX "City_mesorregion_idx" ON "City"("mesorregion");

-- CreateIndex
CREATE INDEX "City_population_idx" ON "City"("population");

-- CreateIndex
CREATE INDEX "Planning_cityId_idx" ON "Planning"("cityId");

-- CreateIndex
CREATE INDEX "Planning_status_idx" ON "Planning"("status");

-- CreateIndex
CREATE INDEX "Task_planningId_idx" ON "Task"("planningId");

-- CreateIndex
CREATE INDEX "Comparison_cityId_idx" ON "Comparison"("cityId");

-- CreateIndex
CREATE INDEX "AIQuery_createdAt_idx" ON "AIQuery"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "IBGECache_cityId_key" ON "IBGECache"("cityId");

-- CreateIndex
CREATE INDEX "IBGECache_lastFetched_idx" ON "IBGECache"("lastFetched");

-- AddForeignKey
ALTER TABLE "Planning" ADD CONSTRAINT "Planning_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES "City"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Task" ADD CONSTRAINT "Task_planningId_fkey" FOREIGN KEY ("planningId") REFERENCES "Planning"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Comparison" ADD CONSTRAINT "Comparison_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES "City"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

